* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #051937, #1b2b59, #393d7d, #5c4ea0, #845ec2);
    color: white;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}
form input {
    border-radius: 10px 0 0 10px;
}
form button {
    border-radius: 0 10px 10px 0;
}



form button {
    color: #845ec2;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: white;
    color: #393d7d;
}